*, *::before, *::after {
  box-sizing: border-box;  
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column; 
}

.intro, .main {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

